@{
    ViewData["Title"] = "Home Page";
}



<main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/Home">Home</a></li>
          <li class="breadcrumb-item active">welcome</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>






</main><!-- End #main -->