@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>





<main id="main" class="main">
    <div class="pagetitle">
      <h1>Privacy</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home/Privacy">Home</a></li>
          <li class="breadcrumb-item active">Privacy</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    
    
    <p>Use this page to detail your site's privacy policy.</p>








</main><!-- End #main -->