@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Login";
}
@section scripts{
    <script>
            $(document).ready(function() {
                $("#Login-form").submit(function(event) {
                    event.preventDefault(); // 阻止表单的默認提交行為
                    post(); // 調用 post 函数以進行異步提交
                });
            });

       function post() {
           $.ajax({
               type: "POST",
               url: "/Login/Index",
               // 註冊頁面url
               data: $("#Login-form").serialize(),
               // 使用表單id獲取數據
               success:function (data) {
                                if (data.error) {
                                    // 顯示錯誤訊息
                                    alert(data.error);
                                } else if (data.message) {
                                    // 顯示成功訊息
                                    alert(data.message);
                                }
                            },
               error: function (xhr, status, error) {
                    console.error(error);
                },
           });
       }
    </script>
}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>登入畫面</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/Login">登入</a></li>
          <li class="breadcrumb-item active">登入畫面</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <strong class="h5">Rag 檔案處理系統</strong><br>
                    <span class="h7">測試伺服器</span>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">請輸入您的帳號及密碼</p>
                    <form id="Login-form">
                        @Html.AntiForgeryToken()
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="height: 38px; line-height: 24px;">
                                    <i class="fas fa-user"></i>
                                </span>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username" style="height: 38px;">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="height: 38px; line-height: 24px;">
                                    <i class="fas fa-lock"></i>
                                </span>
                                <input type="password" class="form-control" placeholder="Password" id="password" name="password" style="height: 38px;">
                            </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">登入</button>
                        </div>

                        <div class="text-center mt-2">
                            <a href="/SignUp">創建帳號</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</main><!-- End #main -->